body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    height: 160px;
    font-size: 32px;
    padding: 18px;
    margin-bottom : 40px;
}

#toggleFilters {
    flex-basis: 25%;
    margin: 0;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    padding: 12px;
}

.gallery-item {
    margin: 8px;
    flex-basis: calc(33.333% - 16px);
    /* opacity: 0; 
    transition: opacity 1s ease-out;  */
}

.gallery-item:nth-child(1),.gallery-item:nth-child(2) {
    flex-basis: calc(50% - 16px);
}

.gallery-item:nth-child(4) {
    flex-basis: calc(66.666% - 16px);
}

.gallery-item img {
    width: 100%;
}

.caption {
    text-align: left;
    margin-top: 8px;
}

button {
    background: none; /* 배경 색상 제거 */
    color: inherit; /* 상위 요소에서 정의된 글자 색상을 상속받음 */
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
    font: inherit; /* 상위 요소에서 정의된 폰트 스타일을 상속받음 */
    cursor: pointer; /* 마우스 커서를 포인터로 설정 */
    font-size: 32px; /* 텍스트 크기를 32px로 설정 */
}

.filter-container {
    display: none;
    flex-basis: calc(75% - 16px);
}

.filter-row {
    margin-bottom: 10px;
    display: flex;
    column-gap: 8px;
}

.filter {
    flex-basis: 33.333%;
    text-align: left;
    
}